@media only screen and (max-width: 1200px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .rightnav{
        text-align: center;
        
    }
    .navbar{
        height: 478px; 
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    #search{
        width:90%;
    }
    .burger{
        display:block;
    }
    .hnav-resp{
        height: 72px;
    }
    .visibility-resp{
      opacity: 0;  
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
        
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .para{
        padding: 0px;
    }

}